*.class

# Package Files #
*.jar
*.war
*.ear
/.metadata
/Nimbus/.classpath
/Nimbus/.project
/Nimbus/.settings
/Nimbus/.settings

/Nimbus/native/*.o
/Nimbus/native/NativeNimbus.*
/Nimbus/native/libNativeNimbus.so

# Temporary
/Nimbus/dependency-reduced-pom.xml
/Nimbus/pids
/Nimbus/target
/NimbusBenchmark/target



