*.class

# Package Files #
*.jar
*.war
*.ear
/.metadata
/Nimbus/.classpath
/Nimbus/.project
/Nimbus/.settings
/Nimbus/.settings

/Nimbus/native/*.o
/Nimbus/src/main/native/NativeNimbus.ncb
/Nimbus/src/main/native/Backup
/Nimbus/src/main/native/Debug
/Nimbus/native/NativeNimbus.*
/Nimbus/native/libNativeNimbus.so
/Nimbus/src/main/native/NativeNimbus.sdf
/Nimbus/src/main/native/NativeNimbus.suo
/Nimbus/src/main/native/NativeNimbus.v11.suo
/Nimbus/src/main/native/NativeNimbus.vcproj.Adam-PC.Adam.user
/Nimbus/src/main/native/NativeNimbus.vcxproj
/Nimbus/src/main/native/NativeNimbus.vcxproj.filters
/Nimbus/src/main/native/NativeNimbus.vcxproj.user
/Nimbus/src/main/native/Release/
/Nimbus/src/main/native/libNativeNimbus.so


# Temporary
/Nimbus/dependency-reduced-pom.xml
/Nimbus/pids
/Nimbus/target
/NimbusBenchmark/target
